<div class="row journal-row">
    <div class="col-1 order-1">
        <div class="bj-display-region">
            <h1>Bullet Journal</h1>
            <!--div class="login-group">
                <div [@stateChange]="userState" class="startup-display">
                    <span>Please</span><button type="button" class="btn btn-light" (click)="login()">Login</button>
                </div>
                <div [@stateChange]="!userState" class="login-display">
                    <p>Type to add, Save to upload.</p>
                </div>
            </div-->
        </div>
    </div>
    <div class="col-11 order-2">
        <router-outlet></router-outlet>
    </div>
</div>
